<%- include('./includes/head') %> 

<main class="min-vh-100 bg-dark bg-gradient d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-8">
        <div class="bg-white p-5 rounded">

          <div class="display-3">AGENDA DE CONTATOS</div>

          <%- include('./includes/messages') %> 
  
          <% if (user) { %> 
            <div class="lead my-4">Bem vindo de volta <%= user.name %> </div>
            <a href="/contatos/<%= user._id %>" class="btn btn-dark bg-gradient">Visualizar contatos</a>

          <% } else { %> 
            <div class="lead my-4">Para começar a criar contatos entre ou cadastre uma conta!</div>
            <div>
              <a href="/entrar" class="btn btn-outline-dark me-3">Entrar</a>
              <a href="/cadastrar" class="btn btn-dark bg-gradient">Cadastrar</a>
            </div>
          <% } %> 
        </div>

        </div>
    </div>
  </div>
</main>

<%- include('./includes/footer') %> 